.graph-info-msg {
    position: absolute;
    top: calc(50% - 25px);
    width: 100%;
}

.graph-tooltip {
    position: absolute;
    color: lavender;
    font-size: 18px;
    width: 100px;
    line-height: 35px;
    letter-spacing: 1px;
    text-align: center;
    overflow: hidden;
    text-shadow: 0 0 4px white;
    border-radius: 4px;
    background: rgba(128, 128, 128, 0.45);
}